<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/layout :: head('Movie')}"></head>
    <body>
        <th:block th:replace="~{fragments/layout :: nav('films')}"></th:block>
        <main id="main" data-page="movie" th:attr="data-movie-id=${movieId}">
            <div class="wrap">
                <div class="back"><button class="link" data-act="back">&larr;
                        back</button></div>
                <div id="page"><p class="loading">loading the film…</p></div>
            </div>
        </main>
        <th:block
            th:replace="~{fragments/layout :: footer('films')}"></th:block>
        <script type="module" th:src="@{/js/pages/movie.js}"></script>
    </body>
</html>
